@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color:#fff;
    background: #1f242d;
}

a {
    color: #fff;
    text-decoration: none;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1.2s;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease-in-out forwards;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop 1s ease-in-out forwards;
    animation-delay: 1s;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease-in-out forwards;
    animation-delay: calc(2s+ var(--i));

}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #7cf03d;
}

.home {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1s;
}


.home-info h1 {
    font-size: 55px;
    margin: 10px 10px 10px 0;
    opacity: 0;
    animation: slideRight 1s ease-in-out forwards;
    animation-delay: 1s;

}

.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
    opacity: 0;
    animation: slideBottom 1s ease-in-out forwards;
    animation-delay: 1s;
}


.home-info h2 span {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
    opacity: 0;
    animation: slideBottom 1s ease-in-out forwards;
    animation-delay: 2s;
}   

.home-info .btn-sci  {
    display: flex;
    align-items: center;
}

.btn  {
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 0 0 60px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color:#1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 10px 10px;
    transition: .3s;
    opacity: 0;
    animation: slideBottom 1s ease-in-out forwards;
    animation-delay: calc(2s+ var(--i));
}

.home-info .btn-sci .sci a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    background: red;
    border-radius: 50%;
    padding: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    mix-blend-mode: lighten;
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(100%);
    animation: show-bars .1s ease-in-out forwards;
    animation-delay: calc(.2 * var(--z));
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding: 6rem;
}

.about-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    background: red;
    border-radius: 50%;
    padding: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about-img .img-box::before,
.about-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
}

.about-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.about-img .img-box .img-item img {
    position: absolute;
    top: 30px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    margin: 15px 0 30px;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;;
    margin-bottom: 4rem;
}

#services {
    color:#fff;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sud-title {
   text-align: center;
   font-size: 60px;
   padding-bottom: 70px;
}

.container {
    padding: 90px;
}
.about-text h2 {
    font-size: 40px;
}






















@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
    
} 

@keyframes slideRight{
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}